# lock
package-lock.json
yarn.lock

# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# tests
/test
/coverage
/.nyc_output

# source
dist

# website
/website/.cache-loader
/website/.docusaurus
/website/build
/website/node_modules
